{% extends "/base/base.html" %}

{% block breadcrumb %} 
代码更新
{% endblock %}
{% block main %}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
	<div class="col-sm-10">
	     <div class="ibox float-e-margins">
		<div class="ibox-title">
		    <h5>更新信息</h5>
		    <div class="ibox-tools">
			<a class="collapse-link">
			    <i class="fa fa-chevron-up"></i>
			</a>
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">
			    <i class="fa fa-wrench"></i>
			</a>
			<a class="close-link">
			    <i class="fa fa-times"></i>
			</a>
		    </div>
		</div>
		<div class="ibox-content">
		    <form id="codeForm" class="form-horizontal nice-validator n-yellow" novalidate="novalidate">
			<div class="form-group">
			    <label for="project" class="col-sm-2">选择更新工程<span class="red-fonts">*</span></label>
			    <br>
			    <div class="col-sm-12">
			    <select id="project" name='project' class="form-control" >
				<option></option> 
				<option value='cms' >cms</option> 
				<option value='command' >command</option>
				<option value='common' >common</option>
				<option value='dist' >dist</option>
				<option value='doctor' >doctor</option>
				<option value='ecg' >ecg</option>
				<option value='framework' >framework</option>
				<option value='requirements' >requirements</option>
				<option value='run' >run</option>
				<option value='web' >web</option>
				<option value='weixinapp' >weixinapp</option>
			    </select>
			    </div>
			</div>

			<div class="hr-line-dashed"></div>
			<div class="form-group">
			    <label for="message" class="col-sm-2">填写更新信息<span class="red-fonts">*</span></label>
			    <div class="col-sm-12">
			    <br>
				<input id="message" name="message" placeholder="更新信息" type="text" class="form-control" class='inputxt' datatype='*'/>
			    </div>
			</div>

			<div class="hr-line-dashed"></div>
			<div class="form-group">
			    <label for="key" class="col-sm-2">填写许可码<span class="red-fonts">*</span></label>
			    <div class="col-sm-12">
			    <br>
				<input id="key" name="key" placeholder="许可码" type="text" class="form-control" required="true" class='inputxt' datatype='*'/>
			     </div>
			</div>
			
			<div class="hr-line-dashed"></div>
			<div class="form-group">
			<div class="text-center" id="msg"></div>
			    <label id='update' style="color:red" class="col-sm-12"></label>
			    <div class="col-sm-12">
				<button id="submit_button" class="btn btn-primary btn-block">确认</button>
			    </div>
			</div>
		    </form>
		</div>
	    </div>
	</div>
    </div>
</div>
<script>
$('#codeForm').Validform({tiptype:3})

$('#submit_button').click(function(){
    $('#update').text('文件正在上传并更新...').css('color','green')
    $.post("/code/",$("#codeForm").serialize(),function(data){
	data=JSON.parse(data);
	if(data["code"] == 0){
	    $('#update').text(data['result']).css('color','green')
	}else{
	    $('#update').text(data['errmsg']).css('color','red')
	}
    })
	return false
})
</script>
{% endblock %}
