{% extends "/base/base.html" %}
{% block breadcrumb %} 
机房管理
{% endblock %}

{% block main %} 
<div class="col-sm-12">
{% if role == "admin" %}
<a href="/idcadd" class='btn btn-sm btn-primary'>添加机房</a>
{% endif %}
<table class="table table-striped table-bordered table-hover " id="editable">
<thead>
    <tr>
        <th class="text-center">编号</th>
        <th class="text-center">机房名</th>
        <th class="text-center">机房中文名</th>
        <th class="text-center">地址</th>
        <th class="text-center">联系人</th>
        <th class="text-center">联系电话</th>
        <th class="text-center">机柜数量</th>
        <th class="text-center">操作</th>
    </tr>
</thead>
<tbody>
   {% if idcs %}
   {% for idc in idcs %}
        <tr class="gradeX">
                <td class="text-center">{{idc.id}}</td>
                <td class="text-center">{{idc.name}}</td>
                <td class="text-center">{{idc.name_cn}}</td>
                <td class="text-center">{{idc.address}}</td>
                <td class="text-center">{{idc.adminer}}</td>
                <td class="text-center">{{idc.phone}}</td>
                <td class="text-center">{{idc.num}}</td>
                <td class="text-center">
                    <button data-id="{{idc.id}}" class="btn btn-xs btn-info update">编辑</button>
                    <button data-id="{{idc.id}}" class="btn btn-xs btn-danger del ">删除</button>
                </td>
            </td>
         </tr>
    {% endfor %}
    {% endif %}
</tbody>
</table>

</div> <!--col-sm-12-->
<div class="modal fade" id='updateModel'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	<h4 class="modal-title">更新</h4>
      </div>
      <div class="modal-body">
	<form method="post" id="updateForm" class="form-horizontal">
	    <div>
		<input id='id' type='hidden' name='id' readonly='true' >
	    </div><!-- id -->

	    <div class='form-group'>
		<label for="name" class="col-sm-3 control-label">机房英文简写<span class="red-fonts">*</span></label>
		<div class="col-sm-7">
		    <input id="name" name="name" placeholder="name" type="text" class="form-control" readonly>
		</div>
	    </div>
	    <div class="hr-line-dashed"></div>
	    <div class='form-group'>
		<label for="name_cn" class="col-sm-3 control-label">机房中文名</label>
		<div class="col-sm-7">
		    <input id="name_cn" name="name_cn" placeholder="Chinese name" type="text" class="form-control" >
		</div>
	    </div>
	    <div class="hr-line-dashed"></div>
	    <div class='form-group'>
		<label for="address" class="col-sm-3 control-label">地址</label>
		<div class="col-sm-7">
		    <input id="address" name="address" placeholder="Address" type="text" class="form-control">
		</div>
	    </div>
	    <div class="hr-line-dashed"></div>
	    <div class='form-group'>
		<label for="adminer" class="col-sm-3 control-label">联系人</label>
		<div class="col-sm-7">
		    <input id="adminer" name="adminer" placeholder="Adminer" type="text" class="form-control">
		</div>
	    </div>
	    <div class="hr-line-dashed"></div>
	    <div class='form-group'>
		<label for="phone" class="col-sm-3 control-label">联系电话</label>
		<div class="col-sm-7">
		    <input id="phone" name="phone" placeholder="phone" type="text" class="form-control" datatype='m' errormsg='请输入11位手机号码'>
		</div>
	    </div>
	    <div class="hr-line-dashed"></div>
	    <div class='form-group'>
		<label for="num" class="col-sm-3 control-label">机柜数量</label>
		<div class="col-sm-7">
		    <input id="num" name="num" placeholder="Number" type="text" class="form-control">
		</div>
	    </div>
	</form>
      </div>
      <div class="modal-footer">
	<button type="button" class="btn btn-default update-cancel" data-dismiss="modal">取消</button>
	<button type="button" class="btn btn-primary update-sure" data-name=''>确认</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

</div> <!--col-sm-12-->
<div class="modal fade" id='deleteModel'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	<h4 class="modal-title">删除</h4>
      </div>
      <div class="modal-body">
	<p>确认删除?</p>
      </div>
      <div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>                                                                         
	<button type="button" class="btn btn-primary del-sure" data-id=''>确认</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
$('#editable').DataTable({
    "bDestroy": true, 
    "language": {
        "lengthMenu": "每页 _MENU_ 条记录",
        "zeroRecords": "没有找到记录",
        "sInfo": "第 _PAGE_ 页 ( 总共 _PAGES_ 页 ),显示第 _START_ 至 _END_ 项(总共 _TOTAL_ 项)",
        "infoEmpty": "无记录",
        "infoFiltered": "(从 _MAX_ 条记录过滤)",
        "sSearch": "搜索:",
        "oPaginate": {
        "sFirst": "首页",
        "sPrevious": "上一页",
        "sNext": "下一页",
        "sLast": "末页"
        }
    },
    "order": [[ 0,"asc" ]]
})

$('#updateForm').Validform({tiptype:3})

$('.update').click(function(){
    var id=$(this).attr('data-id')
    var url = "/idc_update_msg/?id="+id
    $.getJSON(url,function(data){
	if (data['code'] == 0){
	    idc = data['result']
	    $('#id').val(idc['id'])
	    $('#name').val(idc['name'])
	    $('#name_cn').val(idc['name_cn'])
	    $('#address').val(idc['address'])
	    $('#adminer').val(idc['adminer'])
	    $('#phone').val(idc['phone'])
	    $('#num').val(idc['num'])
	}else{
	    $('#errmsg').html('fail')
	}
    })
    $('#updateModel').modal('show')
})

$('.update-sure').click(function(){
    var msg=$('.Validform_wrong').text()
    var str=$('#updateForm').serialize()
    if (!msg){
	$.post('/idc_update/',str,function(data){
	    data=JSON.parse(data)
	    if (data['code'] == 0){
		swal('Congratulation',data['result'],'success')
		//location.href='/idclist'
		$('.confirm').click(function(){
		    location.href='/idc/'
		})
	    }else{
		swal('Error',data['errmsg'],'error')
	    }
	})
	return false
    }
})

$('.del').click(function(){
    var id=$(this).attr('data-id')
    $('.del-sure').attr('data-id',id)
    $('#deleteModel').modal('show')
    
})

$('.del-sure').click(function(){
    var id=$(this).attr('data-id')
    var str="id="+id
    $.post('/idc_delete/',str,function(data){
	swal('Congratulation','delete success!','success')
	//location.href='/idclist'
	$('.confirm').click(function(){
	    location.href='/idc/'
	})
    })
})

</script>
{% endblock %}
