{% extends "/base/base.html" %}
{% block breadcrumb %} 
用户列表
{% endblock %}
{% block main %} 

<div class="col-sm-12">
<a href="/useradd" class='btn btn-sm btn-primary'>添加用户</a>
<table class="table table-striped table-bordered table-hover " id="editable">
<thead>
    <tr>
        <th class="text-center">用户名</th>
        <th class="text-center">姓名</th>
        <th class="text-center">手机号</th>
        <th class="text-center">邮箱</th>
        <th class="text-center">角色</th>
        <th class="text-center">状态</th>
        <th class="text-center">操作</th>
    </tr>
</thead>
<tbody>
   {% if users %}
   {% for user in users %}
        <tr class="gradeX">
                <td class="text-center">{{user.name}}</td>
                <td class="text-center">{{user.name_cn}}</td>
                <td class="text-center">{{user.mobile}}</td>
                <td class="text-center">{{user.email}}</td>
                {% if user.role == "admin" %}
                    <td class="text-center">管理员</td>
                {% else %}
                    <td class="text-center">普通用户</td>
                {% endif %}

                {% if user.status == 0 %}
                    <td class="text-center" style="color:green">正常</td>
                {% else%}
                    <td class="text-center" style="color:red">锁定</td>
                {% endif %}

                <td class="text-center">
                    <button data-id="{{user.id}}" class="btn btn-xs btn-info update">编辑</button>
                    <button data-id="{{user.id}}" class="btn btn-xs btn-danger del ">删除</button>
                    <button data-id="{{user.id}}" data-name="{{user.name}}" class="btn btn-xs btn-primary modpwd ">修改密码</button>
                </td>
            </td>
         </tr>
    {% endfor %}
    {% endif %}
</tbody>
</table>

<div class="modal fade" id='updateModel'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	<h4 class="modal-title">更新</h4>
      </div>
      <div class="modal-body">
	<form method="post" id="updateForm" class="form-horizontal">
	    <div>
		<input id='id' type='hidden' name='id' readonly='true' >
	    </div><!-- id -->

	    <div class='form-group'>
		<label for="name" class="col-sm-2 control-label">用户名<span class="red-fonts">*</span></label>
		<div class="col-sm-8">
		    <input id="name" name="name" placeholder="Username" type="text" class="form-control" readonly>
		</div>
	    </div>
	    <div class="hr-line-dashed"></div>
	    <div class='form-group'>
		<label for="name_cn" class="col-sm-2 control-label">姓名</label>
		<div class="col-sm-8">
		    <input id="name_cn" name="name_cn" placeholder="Chinese_name" type="text" class="form-control" aria-required="true" data-tip="姓名" class='inputxt' datatype='s2-6' errormsg='姓名最少2个字符，最多6个字符'>
		</div>
	    </div>
	    <div class="hr-line-dashed"></div>
	    <div class='form-group'>
		<label for="mobile" class="col-sm-2 control-label">手机号</label>
		<div class="col-sm-8">
		    <input id="mobile" name="mobile" placeholder="Mobile" type="text" class="form-control" aria-required="true" data-tip="手机号" class='inputxt' ignore='ignore' datatype='m' errormsg='手机号必须11位数字'>
		</div>
	    </div>
	    <div class="hr-line-dashed"></div>
	    <div class='form-group'>
		<label for="email" class="col-sm-2 control-label">邮箱号</label>
		<div class="col-sm-8">
		    <input id="email" name="email" placeholder="Email" type="text" class="form-control" aria-required="true" data-tip="Email" class='inputxt' ignore='ignore' datatype='e' errormsg='必须是电子邮件格式'>
		</div>
	    </div>
	    <div class="hr-line-dashed"></div>
	    <div class='form-group'>
		<label for="email-password" class="col-sm-2 control-label">邮箱密码</label>
		<div class="col-sm-8">
		    <input id="email_password" name="email_password" placeholder="Email passwrod" type="password" class="form-control" aria-required="true" data-tip="Email password" class='inputxt' ignore='ignore' >
		</div>
	    </div>

	    <div class="hr-line-dashed"></div>
	    <div id='role_div' class="form-group">
		<label for="role" class="col-sm-2 control-label">角色</label>
		<div class="col-sm-8">
		    <select id="role" class="multiselect dropdown-toggle btn btn-default">
		    
			<option value="admin" >管理员</option>
			<option value="user" >普通用户</option>
			
		    </select>
		</div>
	    </div>
	    <div class="hr-line-dashed"></div>
	    <div id='status_div' class="form-group">
		<label for="status" class="col-sm-2 control-label">状态</label>
		<div class="col-sm-8">
		    <select id="status" class="multiselect dropdown-toggle btn btn-default">
			    
			<option value=0 >正常</option> 
			<option value=1 >锁定</option>
			    
		    </select>
		</div>
	    </div>
	</form>
      </div>
      <div class="modal-footer">
	<button type="button" class="btn btn-default update-cancel" data-dismiss="modal">取消</button>
	<button type="button" class="btn btn-primary update-sure" data-name=''>确认</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id='deleteModel'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	<h4 class="modal-title">删除</h4>
      </div>
      <div class="modal-body">
	<p>确认删除?</p>
      </div>
      <div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>                                                                         
	<button type="button" class="btn btn-primary del-sure" data-id=''>确认</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id='modpwdModel'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	<h4 class="modal-title">修改密码</h4>
      </div>
      <div class="modal-body">
        <form method="post" id="modpwdForm" class="form-horizontal">
	    <div>
		<input id='mod-id' type='hidden' name='id' data-id=''  readonly='true' >
	    </div>

	    <div class='form-group'>
		<label for="name" class="col-sm-2 control-label">用户名<span class="red-fonts">*</span></label>
		<div class="col-sm-8">
		    <input id="mod-name" name="name" placeholder="Username" type="text" class="form-control" readonly>
		</div>
	    </div>
	    <div class="hr-line-dashed"></div>
	    <div class="form-group">
		<label for="newpassword" class="col-sm-2 control-label">新密码<span class="red-fonts">*</span></label>
		<div class="col-sm-8">
		    <input id="mod-newpassword" name="newpassword" placeholder="Newpassword" type="password" class="form-control" aria-required="true" data-tip="密码" class='inputxt' plugin='passwordStrength' datatype='*6-18' nullmsg='请设置新密码' errormsg='密码最少6位，最多18位'>
		    <td>
			<div class="passwordStrength">
			    密码强度： 
			    <span>弱</span>
			    <span>中</span>
			    <span class="last">强</span>
			</div>
		    </td>
		    <td>
			<div class="Validform_checktip"></div>
		    </td>
		</div>
	    </div>
	    <div class="hr-line-dashed"></div>
	    <div class="form-group">
		<label for="renewpassword" class="col-sm-2 control-label">再次输入<span class="red-fonts">*</span></label>
		<div class="col-sm-8">
		    <input id="mod-renewpassword" name="renewpassword" placeholder="Input again" type="password" class="form-control" aria-required="true" data-tip="密码" class='inputxt' recheck='newpassword' datatype='*6-18' nullmsg='请再次输入新密码' errormsg='密码不匹配'>
		</div>
	    </div>
	</form>
      </div>
      <div class="modal-footer">
        <div class="col-md-8" id='errmsg' style='color:red'></div>
	<div class="col-md-4"><button type="button" class="btn btn-default modpwd-cancel" data-dismiss="modal">取消</button>
	<button type="button" class="btn btn-primary modpwd-sure" data-id=''>确认</button></div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
$('#updateForm').Validform({
    tiptype:3,
    usePlugin:{
	passwordstrength:{
	    minLen:6,
	    maxLen:18
	}
    }
})

$('#modpwdForm').Validform({
    tiptype:3,
    usePlugin:{
	passwordstrength:{
	    minLen:6,
	    maxLen:18
	}
    }
})


$('.update').click(function(){
    var id=$(this).attr('data-id')
    var url = "/update_msg/?id="+id
    $.getJSON(url,function(data){
	if (data['code'] == 0){
	    user = data['result']
	    $('#id').val(user['id'])
	    $('#name').val(user['name'])
	    $('#name_cn').val(user['name_cn'])
	    $('#mobile').val(user['mobile'])
	    $('#email').val(user['email'])
	    $('#email_password').val(user['email_password'])
	    $('#role').val(user['role'])
	    $('#status').val(user['status'])
//	    $('#role').multiselect().val(user['role'])
//	    $('#status').multiselect().val(user['status'])
	}else if (data['code'] == 2){
	    user = data['result']
	    $('#id').val(user['id'])
	    $('#name').val(user['name'])
	    $('#name_cn').val(user['name_cn'])
	    $('#mobile').val(user['mobile'])
	    $('#email').val(user['email'])
	    $('#role_div').hide()
	    $('#status_div').hide()
	}else{
	    $('#errmsg').html('fail')
	}
    })
    $('#updateModel').modal('show')
})

$('.update-sure').click(function(){
    var str=$('#updateForm').serialize()
    var str1='&status='+$('#status').val()
    var str2='&role='+$('#role').val()
    var msg=$('.Validform_wrong').text()
    if(!msg){
	$.post('/update/',str+str1+str2,function(data){
	    data=JSON.parse(data)
	    if (data['code'] == 0){
		swal({
		    title:'Congratulation',
		    text:data['result'],
		    type:'success',
		    confirmButtonText:'确定'
		    },function(){
			location.href='/userlist/'
		    })
	    }else{
		swal('Error',data['errmsg'],'error')
	    }
	})
	return false
    }
})

$('.del').click(function(){
    var id=$(this).attr('data-id')
    $('.del-sure').attr('data-id',id)
    $('#deleteModel').modal('show')
})

$('.del-sure').click(function(){
    var id=$(this).attr('data-id')
    var str="id="+id
    $.post('/delete/',str,function(data){
	swal({
	    title:'Congratulation',
	    text:'delete success!',
	    type:'success',
	    confirmButtonText:'确定'
	    },function(){
		location.href='/userlist/'
	    })
    })
})

$('.modpwd').click(function(){
    var id=$(this).attr('data-id')
    var name=$(this).attr('data-name')
    $('#mod-id').val(id)
    $('#mod-name').val(name)
    $('#modpwdModel').modal('show')
})

$('.modpwd-cancel').click(function(){
    location.reload()
})

$('.modpwd-sure').click(function(){
    var str=$('#modpwdForm').serialize()
    var msg=$('.Validform_wrong').text()
    if(!msg){
	$.post('/modpwd/',str,function(data){
	    data=JSON.parse(data)
	    if (data['code'] == 0){
		swal({
		    title:'Congratulation',
		    text:data['result'],
		    type:'success',
		    confirmButtonText:'确定'
		    },function(){
			location.href='/userlist/'
		    })
	    }else{
		swal('Error',data['errmsg'],'error')
	    }
	})
	return false
    }
})

$('#editable').DataTable({
    'bDestory': true,
    "language": {
        "lengthMenu": "每页 _MENU_ 条记录",
        "zeroRecords": "没有找到记录",
        "sInfo": "第 _PAGE_ 页 ( 总共 _PAGES_ 页 ),显示第 _START_ 至 _END_ 项(总共 _TOTAL_ 项)",
        "infoEmpty": "无记录",
        "infoFiltered": "(从 _MAX_ 条记录过滤)",
        "sSearch": "搜索:",
        "oPaginate": {
        "sFirst": "首页",
        "sPrevious": "上一页",
        "sNext": "下一页",
        "sLast": "末页"
        }
    },
    "order": [[ 0,"asc" ]]
});

</script>
{% endblock %}
